### Output Methods

There are various ways to export data from a database into other formats.

In this example, we look at the methods using pandas data frames and csv export.

:)

In [1]:
import sqlite3
import pandas.io.sql as sql
import pandas as pd

In [2]:
con = sqlite3.connect('northwind.db')

In [3]:
# encapsulate the sql commands within pandas.io.sql library

table = sql.read_sql("""
    SELECT o.OrderID, c.CompanyName, c.ContactName, o.OrderDate, o.ShippedDate
    FROM Orders as o
    INNER JOIN Customers as c
    ON o.CustomerID = c.CustomerID;
    """, 
                     con)

In [4]:
# export to csv

table.to_csv('sql_output.csv')

In [5]:
# convert to dataframe
sql_output = pd.DataFrame(table)

In [6]:
sql_output

,OrderID,CompanyName,ContactName,OrderDate,ShippedDate
0,10248,Vins et alcools Chevalier,Paul Henriot,1996-07-04 00:00:00,1996-07-16 00:00:00
1,10249,Toms Spezialitäten,Karin Josephs,1996-07-05 00:00:00,1996-07-10 00:00:00
2,10250,Hanari Carnes,Mario Pontes,1996-07-08 00:00:00,1996-07-12 00:00:00
3,10251,Victuailles en stock,Mary Saveley,1996-07-08 00:00:00,1996-07-15 00:00:00
4,10252,Suprêmes délices,Pascale Cartrain,1996-07-09 00:00:00,1996-07-11 00:00:00
...,...,...,...,...,...
804,11073,Pericles Comidas clásicas,Juan,1998-05-05 00:00:00,None
805,11074,Simons bistro,Jytte Petersen,1998-05-06 00:00:00,None
806,11075,Richter Supermarkt,Michael Holz,1998-05-06 00:00:00,None
807,11076,Bon app',Laurence Lebihan,1998-05-06 00:00:00,None
808,11077,Rattlesnake Canyon Grocery,Paula Wilson,1998-05-06 00:00:00,None

In [7]:
con.close()