<img src="images/cads-logo.png" style="height: 100px;" align=left> <img src="images/MongoDB_logo.png" style="height: 40%;width:40%" align=right>

# MongoDB Basics

MongoDB is an open-source, cross-platform, and document-oriented NoSQL database that is written in C++. Under NoSQL umbrella, we put all databases that do not use SQL for querying the data. Today, MongoDB is commonly used in rapid application development and implementing highly-scalable and performance-oriented databases.

## MongoDB Overview

MongoDB is all about collection and document concepts. The database stores all of the collections, and the collections store all of the documents. The documents will contain the relevant `Key-Value` pairs.

MongoDB is a **schemaless** database, schemaless means there is no need to pre-define a structure for the data before storing it.

### JSON/BSON Documents

**JavaScript Object Notation (JSON)**

"MongoDB uses JSON documents to store data. JSON is an open, human and machine-readable standard that facilitates data interchange, and along with XML is the primary format for data interchange used on the modern web." ~ [MongoDB documentation](https://www.mongodb.com/json-and-bson)

**Binary JSON (BJSON)**

"MongoDB represents JSON documents in binary-encoded format called BSON behind the scenes. BSON extends the JSON model to provide additional data types, ordered fields, and to be efficient for encoding and decoding within different languages."
~ [MongoDB documentation](https://www.mongodb.com/json-and-bson)

A basic example of how a **JSON document** would look like:
```json
{
    "EmployeeID" : 1,
    "EmployeeName" : "Simon"
}
```
`EmployeeID` and `EmployeeName` are the keys and `1` and `Simon` are the values, respectively.

### Database

A database is a container for collections like in Relational Database Management System wherein it is a container for tables. Each database gets its own set of files on the file system. A MongoDB server is usually able to store multiple databases.

### Collection

A collection is a group of MongoDB documents that is the equivalent of a table in relational databases. collections don't enforce structure on data.

### Document

A record in a MongoDB's collection is called a document. A document is a set of key-value pairs that can hold different fields with different data types.

### Field

In MongoDB, Fields are analogous to columns in relational databases. A document has zero or more fields.
<img src="images/crud-annotated-document.bakedsvg.svg">

[MongoDB documentation](https://docs.mongodb.com/manual/core/document/)

### RDBMS vs MongoDB Terminology

<div>
    <table width="70%">
        <tr>
            <th><center>RDBMS</center></th>
            <th><center>MongoDB</center></th>
        </tr>
        <tr>
            <td><center>Database</center></td>
            <td><center>Database</center></td>
        </tr>
        <tr>
            <td><center>Table</center></td>
            <td><center>Collection</center></td>
        </tr>
        <tr>
            <td><center>Tuple/Row/Record</center></td>
            <td><center>Document</center></td>
        </tr>
        <tr>
            <td><center>column</center></td>
            <td><center>Field</center></td>
        </tr>
        <tr>
            <td><center>Table Join</center></td>
            <td><center>Embedded Documents</center></td>
        </tr>
        <tr>
            <td><center>Primary Key</center></td>
            <td><center>Primary Key (Default key <code>_id</code> provided by mongodb)</center></td>
        </tr>`
    </table>
</div>

<div class="alert alert-block alert-warning">
    <code><b>_id</b></code> is a 12 bytes hexadecimal number which guarantees the uniqueness of every document. Developers can provide _id while inserting the document. If they don’t provide, MongoDB provides a unique ID for every document. 
    
These 12 bytes first four bytes for the current timestamp, next three bytes for MachineID, next two bytes for ProcessID of MongoDB server and remaining three bytes store an incremental value.
</div>

**Sample JSON Document**
```json
{
   _id: ObjectId(8ec41fd5911a)
   title: 'An Introduction to NoSQL', 
   description: 'MongoDB is a NoSQL database',
   by: 'Mehdi',
   url: 'http://www.thecads.com',
   tags: ['mongodb', 'database', 'NoSQL'],
   likes: 100, 
   comments: [	
      {
         user:'Philip',
         message: 'Not bad',
         dateCreated: new Date(2019,1,20,2,15),
         like: 0 
      },
      {
         user:'Vinod',
         message: 'Cool',
         dateCreated: new Date(2019,1,25,7,45),
         like: 5
      }
   ]
}
```

### Why use MongoDB?

- MongoDB is **document-oriented**, this feature makes MongoDB extremely flexible and adaptable, to address real business problems and requirements.


- MongoDB supports **ad-hoc queries**. It means, MongoDB supports searching by fields, range queries, and regular expression searches.


- MongoDB supports **indexing** to improve the performance of all kind of searches. Any filed in a MongoDB document can be indexed.


- **Replication** provides redundancy and data availability to make sure there are multiple copies of data on different database servers. MongoDB provides high availability with replica-sets. Each replica-set consists of more than one MongoDB instances. In each time, One of them is a primary replica which is the main server and interacts with the clients' requests, and the others are secondary replicas, that maintain a copy of the data that primary replica uses it. When a primary replica fails, one of the secondary replicas becomes the primary server.


- MongoDB supports **sharding** concept to implement horizontal scaling. It is a method for distributing data across multiple MongoDB instances. MongoDB uses sharding to support deployments with massive data sets and high throughput operations.

## Install MongoDB

#### Step 1 — Download the MongoDB MSI Installer Package [Click to Download](https://www.mongodb.com/download-center/community)

#### Step 2 — Install MongoDB with the Installation Wizard

#### Step 3— Create the Data Folders to Store our Databases

- Inside the C Drive on your computer, create a new folder called `data` .

- Inside the `data` folder, create another folder called `db`.

### Step 4- Add Path to the MongoDB’s `bin` folder to Windows Environment Variables

- Copy the path to the MongoDB's `bin` folder

- Press win, type env, Windows will suggest “Edit the System Environment Variables”, click on that.

- On the Advanced tab, click “Environment Variables”

- With the Path variable highlighted, click on Edit

- Click on “New” and paste the path to the bin folder. Make sure it ends with a `\`

## Create a Database

### `use` command


``` java
> use EmployeeDB
```

`use` command, basically is used to switch to an existing database; however <u>if the database does not exist, a new one with the given name will be created.

<div class="alert alert-block alert-info">
    <b>Tip: </b>The output of `use` command will be the following message and MongoDB will automatically switch to the database once created.


<code><b>switched to db EmployeeDB</b></code>
</div>

If you want to check the name of the in-use database, simply type the following command:
```java
> db
```

If you want to check your databases list, use the following command:

```java
> show dbs
```

<div class="alert alert-block alert-warning">
As can be seen, your database is not presented in the list. To display a database, you need to insert at least one document into it.
</div>

## Create collections and documents

The easiest way to create a collection is to insert a document into a collection. If the collection does not exist a new one will be created. Basically `insertOne()`, inserts a document into a collection. Furthermore, it can help us to create a collection and a document inside the collection simultaneously. The follownig code, shows how it can be done.

```json
db.Employees.insertOne
(
	{
		"EmpID" : 101,
		"EmpName" : "Janice"
	}
)
```

<div class="alert alert-block alert-success">
The <code>.insert()</code> method is deprecated in major drivers so you should use the the <code>.insertOne()</code> method whenever you are going to insert a single document into a collection and the <code>.insertMany()</code> when you want to insert multiple documents into a collection. 
</div>

### Insert multiple documents into a collection

The `.insertMany()` command can also be used to insert multiple documents into a collection. By default documents are inserted in order.

- Create a JavaScript array called `empArray` to hold documents

- Add the required documents with the Field Name and values to the array

- Use the `.insertMany()` command to insert the array of documents into the collection

if put double quote not jadi
```javascript

var empArray=
	[
	
		{
			"EmpID" : 102,
			"EmpName" : "Simon"
		},
		{
			"EmpID"   : 103,
			"EmpName" : "Muhammad"
		},
		{
			"EmpID"   : 104,
			"EmpName" : "Darren"
		}

	];

	> db.Employees.insertMany(empArray);
```

In order to print out all the documents in the JSON format, you can use the following code:

<code><b>db.Employees.find().forEach(printjson)</b></code>

We will learn more about `.find()` and `forEach()` later in this module.

## Drop Database

In MongoDB, `db.dropDatabase()` command is used to drop a existing database. This command will drop the selected database.

<div class="alert alert-block alert-danger">
If you have not selected any database, then it will delete default 'test' database.
</div>

#### Example 1

**Step 1:** First, list the available databases:
```json
> show dbs
admin           0.000GB
EmployeeDB      0.000GB
config          0.000GB
local           0.000GB
mydb            0.000GB

```
**Step 2:** To delete `mydb` database, use the following commands:

```json
> use mydb
switched to db mydb
> db.dropDatabase()
{ "dropped" : "mydb", "ok" : 1 }
```

**Step 3:** Now, list the available databases again:
```json
> show dbs
```

`show dbs
use database1
db.createCollection("Colelction1")
db.collection1.insertOne({"student":"Jones"})
db.collection1.find()`

## Create Collection

In MongoDB, **`db.createCollection(name, options)`** is used to create collection. In this command, `name` is the name of the collection to be created, and `options` is a document and is used to specify configuration of collection.

<table style="text-align:center;" class="table table-bordered">
<tbody><tr>
<th style="width:15%;text-align:center;">Parameter</th>
<th style="width:15%;text-align:center;">Type</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="width:15%;text-align:center;">Name</td>
<td style="width:15%;text-align:center;">String</td>
<td style="width:15%;text-align:center;">Name of the collection to be created</td>
</tr>
<tr>
<td style="width:15%;text-align:center;">Options</td>
<td style="width:15%;text-align:center;">Document</td>
<td style="width:15%;text-align:center;">(Optional) Specify options about memory size and indexing</td>
</tr>
</tbody></table>

You should just specify the name of the collection, options parameter is optional. The following table, list all the options that you can use in this command.

<table class="table table-bordered">
<tbody>
<tr>
<th style="width:15%;text-align:center;">Field</th>
<th style="width:15%;text-align:center;">Type</th>
<th style="text-align:center;">Description</th></tr>
<tr>
<td style="text-align:center;vertical-align:middle;">autoIndexId</td>
<td style="text-align:center;vertical-align:middle;">Boolean</td>
<td style="text-align:left;vertical-align:middle;">If true, automatically create index on _id field.s Default value is false.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">capped</td>
<td style="text-align:center;vertical-align:middle;">Boolean</td>
<td style="text-align:left;vertical-align:middle;">If true, enables a capped collection. Capped collection is a fixed size collection that automatically overwrites its oldest entries when it reaches its maximum size. <b>If you specify true, you need to specify size parameter.</b></td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">max</td>
<td style="text-align:center;vertical-align:middle;">number</td>
<td style="text-align:left;vertical-align:middle;">Specifies the maximum number of documents allowed in the capped collection.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">size</td>
<td style="text-align:center;vertical-align:middle;">number</td>
<td style="text-align:left;vertical-align:middle;">Specifies a maximum size in bytes for a capped collection. <b>If capped is true, then you need to specify this field.</b></td>
</tr>

</tbody>
</table>

During the document insertion process, if capped is `true`, MongoDB first checks the `size` field of capped collection, and then it checks the `max` field.

#### Example 2

```json
> use myDB
switched to db myDB

db.createCollection("myCol")
{ "ok" : 1 }

> show collections
myCol

db.createCollection("newCollection", { capped : true, autoIndexId : true, size : 
...    6142800, max : 10000 } )
{
	"note" : "the autoIndexId option is deprecated and will be removed in a future release",
	"ok" : 1
}
```

<div class="alert alert-block alert-warning">
As you have seen, MongoDB creates a collection automatically, when users insert at least one document into the database.
</div>

### Drop Collection

MongoDB `.drop()` command, assist us to delete a collection from the database. The syntax of dropping a collection from a database is as follow:

<code>db.COLLECTION_NAME.drop()</code>

The following example, show how this command works:

#### Example 3

```json
> use myDB
switched to db myDB
> show collections
myCol
newCollection
> db.myCol.drop()
true
```

MongoDB returns true if it drops the selected collection successfully. Otherwise, it returns false. The following example shows the result when we try to remove a non-existing collection from the database.

```json
> db.mycoll.drop()
false
```

## MongoDB Data Types

<table class="table table-bordered">
<tbody>
<tr>
<th style="width:15%;text-align:center;">Field</th>

<th style="text-align:center;">Description</th></tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Arrays</td>

<td style="text-align:left;vertical-align:middle;">It is a data type that used to store array. An array is a set of values into one key. </td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Binary data</td>

<td style="text-align:left;vertical-align:middle;">It is used to store binary data.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Boolean</td>

<td style="text-align:left;vertical-align:middle;">It is used to store a true or false values.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Code</td>

<td style="text-align:left;vertical-align:middle;">It is used to store JavaScript code into the document.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Date</td>

<td style="text-align:left;vertical-align:middle;">it is used to store current date or time.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Double</td>

<td style="text-align:left;vertical-align:middle;">It is used to store floating-point values.</b></td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Integer</td>

<td style="text-align:left;vertical-align:middle;">It is used to store 32-bits or 64-bits integer valuse.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Min/ Max keys</td>

<td style="text-align:left;vertical-align:middle;">They are internal data types that used to compare a value against the lowest and highest BSON elements.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Null</td>

<td style="text-align:left;vertical-align:middle;">It is used to store a Null value.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Object</td>

<td style="text-align:left;vertical-align:middle;">It is used to store embedded documents. Embedded documents are documents, in the form of key-value pairs, inside another document.</td>

</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Object ID</td>

<td style="text-align:left;vertical-align:middle;">It is used to store the document’s ID.</b></td>

</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Regular expression</td>

<td style="text-align:left;vertical-align:middle;">It s used to store regular expression.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">String</td>

<td style="text-align:left;vertical-align:middle;">It is used to store a series of characters, and it must be in UTF-8 encoding format.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Symbol</td>

<td style="text-align:left;vertical-align:middle;">It is used identically to a string; however, it's generally reserved for languages that use a specific symbol type.</td>
</tr>
<tr>
<td style="text-align:center;vertical-align:middle;">Timestamp</td>

<td style="text-align:left;vertical-align:middle;">It is a 64-bit value data type to store timestamp. It can be used to log when a document has been inserted or updated.</td>
</tr>
</tbody>
</table>

## Query Document

In MongoDB, we can use `fine()` method to query documents from a collection. This method displays the documents in a non-structured format. The general syntax of `find()` is as follow:

<code>db.COLLECTION_NAME.find()</code>

<div class="alert alert-block alert-success">
    To format the result-set, we can put <code>.pretty()</code> method after the <code>find()</code> method.
</div>

```json
> db.COLLECTION_NAME.find().pretty()
```

In [ ]:
db.Employees.find({$and:[{'EmpID':101,'EmpName':'Janice'}]})

#### Example 4

<a id='another_cell'></a>
```json
var blogPosts=[{
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
},
{
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"NoSQL"
	],
	"Likes" : 49
},
{
	"title" : "Hello World!",
	"description" : "An introduction to Programming",
	"WrittenBy" : "Akmal",
	"Tags" : [
		"Python",
		"Programming"
	],
	"Likes" : 89
}]

> db.blog.insertMany(blogPosts)

```
**Output:**
```json
{
	"acknowledged" : true,
	"insertedIds" : [
		ObjectId("5c9b8d5b26f382d7eb58bf07"),
		ObjectId("5c9b8d5b26f382d7eb58bf08"),
		ObjectId("5c9b8d5b26f382d7eb58bf09")
	]
}

```

```json
> db.blog.find().pretty()
```
**Output:**
```json
> db.blog.find().pretty()
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf07"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf08"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"NoSQL"
	],
	"Likes" : 49
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf09"),
	"title" : "Hello World!",
	"description" : "An introduction to Programming",
	"WrittenBy" : "Akmal",
	"Tags" : [
		"Python",
		"Programming"
	],
	"Likes" : 89
}
```

We can use `findOne()` method as well to return only one document.

## Conditional Operations

The following table represents all the conditional operations in MongoDB.

```html
| Operation              | Syntax             | Example                             |
|------------------------|--------------------|-------------------------------------|
| Equality               | {key:value}        | db.blog.find({"WritenBy":"Mehdi"}) |
| Less Than              | {key:{$lt:value}}  | db.blog.find({"Likes":{$lt:50}})   |
| Less Than or Equals    | {key:{$lte:value}} | db.blog.find({"Likes":{$lte:50}})  |
| Greater Than           | {key:{$gt:value}}  | db.blog.find({"Likes":{$gt:50}})   |
| Greater Than or Equals | {key:{$gte:value}} | db.blog.find({"Likes":{$gte:50}})  |
| Not Equals             | {key:{$ne:value}}  | db.blog.find({"Likes":{$ne:50}})   |
```

## Logical Operator

The following syntax is the way that we can use `and` operator in MongoDB.

```json
> db.blog.find
(
   {
      $and: [
         {key1: value1}, {key2:value2}
      ]
   }
)
```

#### Example 5

```json
> db.blog.find({$and:[{"WrittenBy":"Mehdi"},{"title": "MongoDB Basics"}]}).pretty()

{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf07"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
}


```

We can use `or` operator in the same way too.

```json
> db.blog.find(
   {
      $or: [
         {key1: value1}, {key2:value2}
      ]
   }
)
```

#### Example 6

```json
> db.blog.find({$or:[{"WrittenBy":"Mehdi"},{"title": "MongoDB Basics"}]}).pretty()

{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf07"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
}

```

**Exercise 1:**
Write a query that returns the documents that have likes greater than 50 and their title are either 'MongoDB Basics' or 'NoSQL Essentials'. 

Use the following piece of code that it is equivalent to the following SQL `WHERE` clause:
```sql
WHERE Tags="NoSQL" AND (Tags = "Database" OR Tags = "MongoDB")
```


```html
> db.blog.find({$and:[{"Tags":"NoSQL"},{$or:[{"Tags":"Database"},{"Tags":"MongoDB"}]}]}).pretty()
              
   
                 ```
**Output:**
```json
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf07"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf08"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"NoSQL"
	],
	"Likes" : 49
}


```

## Update Document

**`update()`** and **`save()`** are two methods in MongoDB that we can be used to update a document or documents in a collection depending on the parameters that we pass to it. The `update()` method modifies the values in the existing document while the `save()` method replaces the existing document with the document passed in `save()` method.

The following is the basic syntax of `update()` method.

<code>db.COLLECTION_NAME.update(SELECTION_CRITERIA, UPDATED_DATA)</code>

The following example shows how we can modify the title of a blog post:

**Example 7**

```json
> db.blog.update({'title':'MongoDB Basics'},{$set:{'title':'MongoDB Tutorial'}})
WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })

> db.blog.find().pretty()
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf07"),
	"title" : "MongoDB Tutorial",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf08"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"NoSQL"
	],
	"Likes" : 49
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf09"),
	"title" : "Hello World!",
	"description" : "An introduction to Programming",
	"WrittenBy" : "Akmal",
	"Tags" : [
		"Python",
		"Programming"
	],
	"Likes" : 89
}

```

To update multiple documents, we can assign `true` to `multi` parameter. The following example shows how we can update more than one documents.

**Example 8**

```json
> db.blog.update({'Tags':'NoSQL'},{$set:{'Tags':'Not Only SQL'}},{multi:true})
WriteResult({ "nMatched" : 2, "nUpserted" : 0, "nModified" : 2 })
> db.blog.find().pretty()
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf07"),
	"title" : "MongoDB Tutorial",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : "Not Only SQL",
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf08"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : "Not Only SQL",
	"Likes" : 49
}
{
	"_id" : ObjectId("5c9b8d5b26f382d7eb58bf09"),
	"title" : "Hello World!",
	"description" : "An introduction to Programming",
	"WrittenBy" : "Akmal",
	"Tags" : [
		"Python",
		"Programming"
	],
	"Likes" : 89
}
```

### Exercise 2
#### Update a specific element of an Array in a document
Write an update query to create the following result.

First, drop the collection, and create a new collection based on the array of the blog post documents. 
[Click to Jump](#another_cell)

```json
{
	"_id" : ObjectId("5c9b99c726f382d7eb58bf0a"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"Not Only SQL"
	],
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9b99c726f382d7eb58bf0b"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"Not Only SQL"
	],
	"Likes" : 49
}
{
	"_id" : ObjectId("5c9b99c726f382d7eb58bf0c"),
	"title" : "Hello World!",
	"description" : "An introduction to Programming",
	"WrittenBy" : "Akmal",
	"Tags" : [
		"Python",
		"Programming"
	],
	"Likes" : 89
}
```

The **`save()`** method replaces the existing document with the new document passed in the `save()` method. The following is the basic syntax of `save()` method.
```json
> db.COLLECTION_NAME.save({"_id":ObjectId(),NEW_DATA})
```

**Example 9**
```json
db.blog.save({
        "_id" : ObjectId("5c9b99c726f382d7eb58bf0c"),
        "title" : "Hello Python!",
        "description" : "An introduction to Python Programming Language",
        "WrittenBy" : "Akmal",
        "Tags" : [
            "Python",
            "Programming"
        ],
        "Likes" : 189
})
WriteResult({
	"nMatched" : 0,
	"nUpserted" : 1,
	"nModified" : 0,
	"_id" : ObjectId("5c9b99c726f382d7eb58bf0c")
})

> db.blog.find().pretty()
{
	"_id" : ObjectId("5c9b9d5626f382d7eb58bf0d"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"Not Only SQL"
	],
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9b9d5626f382d7eb58bf0e"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"Not Only SQL"
	],
	"Likes" : 49
}
{
	"_id" : ObjectId("5c9b99c726f382d7eb58bf0c"),
	"title" : "Hello Python!",
	"description" : "An introduction to Python Programming Language",
	"WrittenBy" : "Akmal",
	"Tags" : [
		"Python",
		"Programming"
	],
	"Likes" : 189
}
```

## Delete Document

`remove()` is used to delete a document from a collection in MongoDB database. `remove()` method accepts two parameters. The first one is **deletion criteria** and the second one is **justOne** boolean flag. The following is the basic syntax of `remove()` method.

```json
> db.COLLECTION_NAME.remove(DELLETION_CRITTERIA,justOne)
```

**Example 10**
```json
> db.blog.remove({'title':'MongoDB Basics'})
WriteResult({ "nRemoved" : 1 })
```

To remove only one document when your deletion criteria match with more than one document, you can simply pass `1` as the second parameter (justOne) to `remove()` method.

**Example 11**
```json
> db.blog.remove({"Tags":"NoSQL"},1)
WriteResult({ "nRemoved" : 1 })
```

To remove all documents we can simply write the following command:

**Example 12**
```json
> db.blog.remove({})
WriteResult({ "nRemoved" : 2 })
> db.blog.find()
> 

```

## Projection

Sometimes we need to project only the necessary data rather than selecting all of the data of a document.

To project the desired fields, we can use the following `find()` syntax:

<code>db.COLLECTION_NAME.find({},{KEY:1})</code>
or
<code>db.COLLECTION_NAME.find({},projection = {KEY:1})</code>

**Example 13**
```json
db.blog.find({},{"title":1})
{ "_id" : ObjectId("5c9baa0a26f382d7eb58bf13"), "title" : "MongoDB Basics" }
{ "_id" : ObjectId("5c9baa0a26f382d7eb58bf14"), "title" : "NoSQL Essentials" }
{ "_id" : ObjectId("5c9baa0a26f382d7eb58bf15"), "title" : "Hello World!" }


```
If you don't want `_id` field, then you need to set it to `0`.

**Example 14**
```json
db.blog.find({},{"title":1,_id:0})
{ "title" : "MongoDB Basics" }
{ "title" : "NoSQL Essentials" }
{ "title" : "Hello World!" }
```
**Example 15**
```json
db.blog.find({},projection={"title":1,_id:0})
```

## Distinct Method
We can use `distinct()` method in MongoDB to get distinct record values. The syntax is as follows:

``` json
db.COLLECTION_NAME.distinct(“FieldName”);```

**Example 16**

```json
db.blog.distinct('WrittenBy')
[ "Mehdi", "Janice", "Akmal", "Jan" ]```

## Limit Records

The `limit()` method accepts a numerical value to limit the number of documents that you want to be displayed. The following syntax shows how we can use the `limit()` method.

```json
> db.COLLECTION_NAME.find().limit(NUMBER)
```

**Example 17**
```json
> db.blog.find().limit(2).pretty()
{
	"_id" : ObjectId("5c9baa0a26f382d7eb58bf13"),
	"title" : "MongoDB Basics",
	"description" : "MongoDB is a NoSQL database",
	"WrittenBy" : "Mehdi",
	"Tags" : [
		"MongoDB",
		"NoSQL"
	],
	"Likes" : 100
}
{
	"_id" : ObjectId("5c9baa0a26f382d7eb58bf14"),
	"title" : "NoSQL Essentials",
	"description" : "What is NoSQL",
	"WrittenBy" : "Janice",
	"Tags" : [
		"Database",
		"NoSQL"
	],
	"Likes" : 49
}
```

MongoDB `skip()` method is used to skip over a specific number of document, the following command show how the `skip()` method works:

```json
> db.blog.find({},{"title":1,_id:0}).limit(1).skip(1)
{ "title" : "NoSQL Essentials" }
```

## Sort Records

In MongoDB, we can use **`sort()`** method to sort documents in a collection. To specify sorting order `-1` and `1` are used. `-1` is used for descending order while `1` is used for ascending order. The following syntax shows how we can use the `sort()` method. 

```json
> db.COLLECTION_NAME.find().sort({KEY:1 or -1})
```

<div class="alert alert-block alert-info">
The default sort order is ascending.
</div>

**Example 18**
```json
> db.blog.find({},{"title":1,_id:0}).sort({"title":-1})
{ "title" : "NoSQL Essentials" }
{ "title" : "MongoDB Basics" }
{ "title" : "Hello World!" }

```

## Indexing

MongoDB support indexes to make the queries more efficient. Simply, indexes are special data structures, that store a small piece of the data in an easy-to-traverse form. An index maintains the value of a field or set of fields, ordered by the value of the field(s) as specified in the index.

In MongoDB, we can use `ensureIndex()` method to create an index. The following is the basic syntax of `ensureIndex()` method.
```json
> db.COLLECTION_NAME.ensureIndex({KEY:1})
```
```json
> db.COLLECTION_NAME.createIndex({KEY:1})
```

The `key` is the name of the field on which you desire to create an index,  `1` is for ascending order, and `-1` is for descending order.

**Example 19**
```json
> db.blog.ensureIndex({"title":1})
{
	"createdCollectionAutomatically" : false,
	"numIndexesBefore" : 1,
	"numIndexesAfter" : 2,
	"ok" : 1
}
```

`ensureIndex()` method accepts multiple fields, to create an index on multiple fields.

**Example 20**
```json
> db.blog.ensureIndex({"title":1,"description":-1})
{
	"createdCollectionAutomatically" : false,
	"numIndexesBefore" : 2,
	"numIndexesAfter" : 3,
	"ok" : 1
}
```

## Aggregation

Aggregation operations in MongoDB, similar to SQL aggregation functions (e.g., COUNT(*)) with GROUP BY clause, group values from multiple documents together and are able to perform a variety of operations on the grouped data to return a single result. First drop the existing collection, then insert the following documents into the collection. Later we use these documents to perform aggregation operations.

```javascript
var blogPosts= [
	{
		"title" : "MongoDB Basics",
		"description" : "MongoDB is a NoSQL database",
		"WrittenBy" : "Mehdi",
		"Tags" : [
			"MongoDB",
			"NoSQL"
		],
		"Likes" : 100
	},
	{
		"title" : "NoSQL Essentials",
		"description" : "What is NoSQL",
		"WrittenBy" : "Janice",
		"Tags" : [
			"Database",
			"NoSQL"
		],
		"Likes" : 49
	},
	{
		"title" : "Hello World!",
		"description" : "An introduction to Programming",
		"WrittenBy" : "Akmal",
		"Tags" : [
			"Algorithms",
			"Programming"
		],
		"Likes" : 89
		},
	{
		"title" : "Neo4J Basics",
		"description" : "Neo4J is a NoSQL database",
		"WrittenBy" : "Mehdi",
		"Tags" : [
			"Neo4J",
			"NoSQL"
		],
		"Likes" : 200
	},
	{
		"title" : "SQL Essentials",
		"description" : "What is SQL",
		"WrittenBy" : "Mehdi",
		"Tags" : [
			"Database",
			"SQL"
		],
		"Likes" : 149
	},
	{
		"title" : "Python",
		"description" : "An introduction to Python",
		"WrittenBy" : "Jan",
		"Tags" : [
			"Python",
			"Programming"
		],
		"Likes" : 39
	}	
]

> db.blog.insertMany(blogPosts)
{
	"acknowledged" : true,
	"insertedIds" : [
		ObjectId("5c9c9c3860a65c88dfeefbb1"),
		ObjectId("5c9c9c3860a65c88dfeefbb2"),
		ObjectId("5c9c9c3860a65c88dfeefbb3"),
		ObjectId("5c9c9c3860a65c88dfeefbb4"),
		ObjectId("5c9c9c3860a65c88dfeefbb5"),
		ObjectId("5c9c9c3860a65c88dfeefbb6")
	]
}
```

The following example returns a list stating how many articles are written by each user?

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", "Number of Articles" : {$sum : 1}}}])
{ "_id" : "Jan", "Number of Articles" : 1 }
{ "_id" : "Akmal", "Number of Articles" : 1 }
{ "_id" : "Janice", "Number of Articles" : 1 }
{ "_id" : "Mehdi", "Number of Articles" : 3 }
```

In the above example, we have grouped documents by field `WrittenBy` and on each occurrence of `WrittenBy` previous value of sum is incremented by `1`. 

Following is a list of available aggregation expressions.

**$sum** sums up the defined value from all documents in the collection.

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", num_likes : {$sum : "$Likes"}}}])
{ "_id" : "Jan", "num_likes" : 39 }
{ "_id" : "Akmal", "num_likes" : 89 }
{ "_id" : "Janice", "num_likes" : 49 }
{ "_id" : "Mehdi", "num_likes" : 449 }
```

**$avg** calculates the average of all given values from all documents in the collection.

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", avg_likes : {$avg : "$Likes"}}}])
{ "_id" : "Jan", "avg_likes" : 39 }
{ "_id" : "Akmal", "avg_likes" : 89 }
{ "_id" : "Janice", "avg_likes" : 49 }
{ "_id" : "Mehdi", "avg_likes" : 149.66666666666666 }
```

**$min**: gets the minimum of the corresponding values from all documents in the collection.

```html
db.blog.aggregate([{$group : {_id : "$WrittenBy", min_likes : {$min : "$Likes"}}}])
{ "_id" : "Jan", "min_likes" : 39 }
{ "_id" : "Akmal", "min_likes" : 89 }
{ "_id" : "Janice", "min_likes" : 49 }
{ "_id" : "Mehdi", "min_likes" : 100 }
```

**$max** gets the maximum of the corresponding values from all documents in the collection.

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", max_likes : {$max : "$Likes"}}}])
{ "_id" : "Jan", "max_likes" : 39 }
{ "_id" : "Akmal", "max_likes" : 89 }
{ "_id" : "Janice", "max_likes" : 49 }
{ "_id" : "Mehdi", "max_likes" : 200 }
```

**$push** inserts the value to an array in the resulting document.

```html
 db.blog.aggregate([{$group : {_id : "$WrittenBy", list_likes : {$push : "$Likes"}}}])
{ "_id" : "Jan", "list_likes" : [ 39 ] }
{ "_id" : "Akmal", "list_likes" : [ 89 ] }
{ "_id" : "Janice", "list_likes" : [ 49 ] }
{ "_id" : "Mehdi", "list_likes" : [ 100, 200, 149 ] }
```

**$addToSet** inserts the value to an array in the resulting document but does not create duplicates.

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", set_likes : {$addToSet : "$Likes"}}}])
{ "_id" : "Jan", "set_likes" : 39 }
{ "_id" : "Akmal", "set_likes" : 89 }
{ "_id" : "Janice", "set_likes" : 49 }
{ "_id" : "Mehdi", "set_likes" : 200 }
```

**$first** gets the first document from the source documents according to the grouping. Typically this makes only sense together with some previously applied `$sort`-stage.

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", first_title : {$first : "$title"}}}])
{ "_id" : "Jan", "first_title" : "Python" }
{ "_id" : "Akmal", "first_title" : "Hello World!" }
{ "_id" : "Janice", "first_title" : "NoSQL Essentials" }
{ "_id" : "Mehdi", "first_title" : "MongoDB Basics" }
```

**$last** gets the last document from the source documents according to the grouping. Typically this makes only sense together with some previously applied `$sort`-stage.

```html
> db.blog.aggregate([{$group : {_id : "$WrittenBy", last_title : {$last : "$title"}}}])
{ "_id" : "Jan", "last_title" : "Python" }
{ "_id" : "Akmal", "last_title" : "Hello World!" }
{ "_id" : "Janice", "last_title" : "NoSQL Essentials" }
{ "_id" : "Mehdi", "last_title" : "SQL Essentials" }

```

## MongoDB Pipeline

Pipeline means the possibility to execute an operation on some input and use the output as the input for the next command and so on. MongoDB also supports the same concept in the aggregation framework. There is a set of possible stages, and each of those is taken as a set of documents as an input and produces a resulting set of documents (or the final resulting JSON document at the end of the pipeline). This can then, in turn, be used for the next stage and so on.

Following are the possible stages in the aggregation framework:


**$project** is used to select some specific fields from a collection.

**$match** is a filtering operation, and thus this can reduce the number of documents that are given as input to the next stage.

**$group** does the actual aggregation as discussed above.

**$sort** Sorts the documents.

**$skip** skips forward in the list of documents for a given amount of documents.

**$limit** limits the number of documents to look at, by the given number starting from the current positions.

**$unwind** is used to unwind document that are using arrays. When using an array, the data is kind of pre-joined and this operation will be undone with this to have individual documents again. Thus with this stage, we will increase the number of documents for the next stage.

### Exercise 3

Create a pipeline that [sorts](https://docs.mongodb.com/manual/reference/operator/aggregation/sort/) the result-set and generates an output similar to the following one

```json
{ "_id" : "Mehdi", "num_likes" : 449 }
{ "_id" : "Akmal", "num_likes" : 89 }
{ "_id" : "Janice", "num_likes" : 49 }
{ "_id" : "Jan", "num_likes" : 39 }
```

### $elemMatch

The `$elemMatch` operator matches documents that contain an array field with at least one element that matches all the specified query criteria.

Suppose we are going to store schools' zip codes and their students in the following format.
```js
var schools=[
    {
 zipcode: "59200",
 students: [
              { name: "Akmal", school: "ABC", age: 10 },
              { name: "Muhammad", school: "ABC", age: 11 },
              { name: "Amin", school: "SUN", age: 15 }
           ]
},
{

 zipcode: "59100",
 students: [
              { name: "Amin", school: "SMART", age: 7 },
              { name: "Luqman", school: "SMART", age: 8 }
           ]
},
{

 zipcode: "59200",
 students: [
              { name: "Mehdi", school: "SMART", age: 7 },
              { name: "Amalina", school: "SMART", age: 8 }
           ]
},
{

 zipcode: "59200",
 students: [
              { name: "Sarah", school: "ABC", age: 7 },
              { name: "Uzair", school: "ABC", age: 16 }
           ]
}
];
```

Now, We want to know the name of students who go to a specific school in a given location.

First, we'll insert the JS array into a MongoDB collection; then we'll use `$elemMatch` to write the query.

**Step 1**

```js
db.schools.insertMany(schools)
```

**Step 2**

```js
db.schools.find( { zipcode: "59200" },
                 { students: { $elemMatch: { school: "ABC" } } } )
                 ```
                 
or

```js
db.schools.find( { zipcode: "59200" },
                 { students: { $elemMatch: { school: "ABC", age: { $gt: 10} } } } )
```

## PyMongo
#### Python needs a MongoDB driver to access the MongoDB database.

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/86/52/125ac054bc6b363c5e0147baee8b3e8686d94f743b49bc1c302b2c74445c/pymongo-3.11.1-cp37-cp37m-win_amd64.whl (382kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.1

In [2]:
import pymongo

In [3]:
client=pymongo.MongoClient()

### Creating a Database using PyMongo

In [4]:
print(client.list_database_names())

['EmployeeDB', 'admin', 'config', 'local', 'mylib', 'test']

The following piece of code, check whether a specific database exists or not?

In [5]:
dbs = client.list_database_names()
if "myDB" in dbs:
    print("The database exists.")
else:
    print("The database does not exist.")

The database does not exist.

In [6]:
db=client["PyDB"]

### Retrieve the list of existing collections in a database and Create a collection using PyMongo

Return the list of all collections in a database:

In [7]:
print(db.list_collection_names())

[]

In [8]:
cols = db.list_collection_names()
if "cars" in cols:
    print("The collection exists.")
else:
    print("The collection does not exist.")

The collection does not exist.

In [9]:
col = db["cars"]

### Insert Into Collection

In [10]:
car1={"Manufacturer":"Toyota","model":"Vios"}
col.insert_one(car1)

In [11]:
x = col.find()
print(x)

<pymongo.cursor.Cursor object at 0x00000260461F1E08>

In [12]:
for i in x:
    print(i)

{'_id': ObjectId('5fc20149348395d7013e698d'), 'Manufacturer': 'Toyota', 'model': 'Vios'}

### Insert Multiple Documents

In [13]:
mydb = client["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"},
  { "name": "Viola", "address": "Park Lane 40 1633"}
  
]

x = mycol.insert_many(mylist)

In [14]:
x

In [15]:
docs = mycol.find()

In [16]:
for item in docs:
    print(item)

{'_id': ObjectId('5fc2014b348395d7013e698e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5fc2014b348395d7013e698f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5fc2014b348395d7013e6990'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5fc2014b348395d7013e6991'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5fc2014b348395d7013e6992'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5fc2014b348395d7013e6993'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5fc2014b348395d7013e6994'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5fc2014b348395d7013e6995'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5fc2014b348395d7013e6996'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5fc2014b348395d7013e6997'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5fc2014b348395d7013e6998'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5fc2014b348395d7013e6999'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5fc2014b348395d7013e699a'), 'name': 'Viola', 'address': 'Park Lane 40 1633'}

### Return Only Some Fields

In [17]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Viola', 'address': 'Park Lane 40 1633'}

In [19]:
# This example will exclude "address" from the result:
for x in mycol.find({},{ "address": 0 }):
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e698e'), 'name': 'Amy'}
{'_id': ObjectId('5fc2014b348395d7013e698f'), 'name': 'Hannah'}
{'_id': ObjectId('5fc2014b348395d7013e6990'), 'name': 'Michael'}
{'_id': ObjectId('5fc2014b348395d7013e6991'), 'name': 'Sandy'}
{'_id': ObjectId('5fc2014b348395d7013e6992'), 'name': 'Betty'}
{'_id': ObjectId('5fc2014b348395d7013e6993'), 'name': 'Richard'}
{'_id': ObjectId('5fc2014b348395d7013e6994'), 'name': 'Susan'}
{'_id': ObjectId('5fc2014b348395d7013e6995'), 'name': 'Vicky'}
{'_id': ObjectId('5fc2014b348395d7013e6996'), 'name': 'Ben'}
{'_id': ObjectId('5fc2014b348395d7013e6997'), 'name': 'William'}
{'_id': ObjectId('5fc2014b348395d7013e6998'), 'name': 'Chuck'}
{'_id': ObjectId('5fc2014b348395d7013e6999'), 'name': 'Viola'}
{'_id': ObjectId('5fc2014b348395d7013e699a'), 'name': 'Viola'}

### Filter the result

In [21]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e6996'), 'name': 'Ben', 'address': 'Park Lane 38'}

To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

In [22]:
myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e6993'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5fc2014b348395d7013e6999'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Sort the Result

In [23]:
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e698e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5fc2014b348395d7013e6996'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5fc2014b348395d7013e6992'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5fc2014b348395d7013e6998'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5fc2014b348395d7013e698f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5fc2014b348395d7013e6990'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5fc2014b348395d7013e6993'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5fc2014b348395d7013e6991'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5fc2014b348395d7013e6994'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5fc2014b348395d7013e6995'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5fc2014b348395d7013e6999'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5fc2014b348395d7013e699a'), 'name': 'Viola', 'address': 'Park Lane 40 1633'}
{'_id': ObjectId('5fc2014b348395d7013e6997'), 'name': 'William', 'address': 'Central st 954'}

In [24]:
mydoc = mycol.find().sort("name",-1) # Sort the result in descending order
for x in mydoc:
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e6997'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5fc2014b348395d7013e6999'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5fc2014b348395d7013e699a'), 'name': 'Viola', 'address': 'Park Lane 40 1633'}
{'_id': ObjectId('5fc2014b348395d7013e6995'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5fc2014b348395d7013e6994'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5fc2014b348395d7013e6991'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5fc2014b348395d7013e6993'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5fc2014b348395d7013e6990'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5fc2014b348395d7013e698f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5fc2014b348395d7013e6998'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5fc2014b348395d7013e6992'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5fc2014b348395d7013e6996'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5fc2014b348395d7013e698e'), 'name': 'Amy', 'address': 'Apple st 652'}

### Update Collection

In [25]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e698e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5fc2014b348395d7013e698f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5fc2014b348395d7013e6990'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5fc2014b348395d7013e6991'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5fc2014b348395d7013e6992'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5fc2014b348395d7013e6993'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5fc2014b348395d7013e6994'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5fc2014b348395d7013e6995'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5fc2014b348395d7013e6996'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5fc2014b348395d7013e6997'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5fc2014b348395d7013e6998'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5fc2014b348395d7013e6999'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5fc2014b348395d7013e699a'), 'name': 'Viola', 'address': 'Park Lane 40 1633'}

To update all documents that meets the criteria of the query, use the `update_many()` method.

In [26]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

2 documents updated.

In [27]:
from pprint import pprint

In [30]:
for x in mycol.find():
    pprint(x)

{'_id': ObjectId('5fc2014b348395d7013e698e'),
 'address': 'Apple st 652',
 'name': 'Amy'}
{'_id': ObjectId('5fc2014b348395d7013e698f'),
 'address': 'Mountain 21',
 'name': 'Hannah'}
{'_id': ObjectId('5fc2014b348395d7013e6990'),
 'address': 'Canyon 123',
 'name': 'Michael'}
{'_id': ObjectId('5fc2014b348395d7013e6991'),
 'address': 'Ocean blvd 2',
 'name': 'Sandy'}
{'_id': ObjectId('5fc2014b348395d7013e6992'),
 'address': 'Green Grass 1',
 'name': 'Betty'}
{'_id': ObjectId('5fc2014b348395d7013e6993'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('5fc2014b348395d7013e6994'),
 'address': 'One way 98',
 'name': 'Susan'}
{'_id': ObjectId('5fc2014b348395d7013e6995'),
 'address': 'Yellow Garden 2',
 'name': 'Vicky'}
{'_id': ObjectId('5fc2014b348395d7013e6996'),
 'address': 'Park Lane 38',
 'name': 'Ben'}
{'_id': ObjectId('5fc2014b348395d7013e6997'),
 'address': 'Central st 954',
 'name': 'William'}
{'_id': ObjectId('5fc2014b348395d7013e6998'),
 'address': 'Main Road 989',
 'name': 'Chuck'}
{'_id': ObjectId('5fc2014b348395d7013e6999'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}
{'_id': ObjectId('5fc2014b348395d7013e699a'),
 'address': 'Park Lane 40 1633',
 'name': 'Viola'}

### Limit the Result

In [29]:
myresult = mycol.find().limit(5)


for x in myresult:
    print(x)

{'_id': ObjectId('5fc2014b348395d7013e698e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5fc2014b348395d7013e698f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5fc2014b348395d7013e6990'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5fc2014b348395d7013e6991'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5fc2014b348395d7013e6992'), 'name': 'Betty', 'address': 'Green Grass 1'}

#### pymongo documentation:
https://pymongo.readthedocs.io/en/stable/index.html